{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/transform-runtime",
  ],
  
  "env": {
    "test": {
      "plugins": [
        ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/transform-runtime",
        "babel-plugin-webpack-alias"
      ]
    }
  }
}
